@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Bold.woff2') format('woff2'),
        url('Geomanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

